<h1>OpenID Connect Sample</h1>

<p>config/openid_config.yml に <a href="https://console.developers.google.com/" target="_blank">Google Developer Console</a> で取得した Client ID と Client secret を設定してください。</p>
